/** {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


*/
/* Header */

main-head{
	background-color: #00d9d9;
	color: #00d9d9;
}

img{
	animation:  3s ease-in 1s 2 reverse both paused slidein;
	animation-direction: left;
}

div#content div{
	display: inline-block;
	width: px;
	justify-content: space-around;
	padding-right: 12rem;
}

div#content div,h1,p,{
	margin: ;
}

div#content div.leftbox{
	background-color: ;
	vertical-align: top;
}

div#content div.rightbox{
	background-color: ;
	vertical-align: top;
	
}

div#content div.leftbox p,h2{
	margin: auto;
}

h2.nav.menu-nav{
	vertical-align: center;
	text-align: center;
	margin: auto;
	justify-content: space-around;
}

nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}
nav.menu-nav ul li.btn a{
	color: #008C8C;
	background-color: #00d9d9;
	text-decoration: none;
	padding: 50px;
}

nav.menu-nav ul li.btn:hover a{
	color: #00d9d9;
	background-color: #008C8C;
	transition: 0.4s;
}
nav{
	display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    align-items: center;
    border-color: #00d9d9;
}
nav li{
	display: flex;
}

footer{
	background-color: black;
	margin-top: 30rem;
}

p.footer{
	color: #fff;
	background-color: #000;
}
.headline{
	text-decoration: underline;
}
.main-head{
	background-color: #00d9d9;
}
p{
	font-family: Arial;
}

header.nav{
	vertical-align: center;
	text-align: center;
	margin: auto;
}

nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}
nav.menu-nav ul li.btn a{
	color: #008C8C;
	background-color: #00d9d9;
	text-decoration: none;
	padding: 5px;
}

nav.menu-nav ul li.btn:hover a{
	color: #00d9d9;
	background-color: #008C8C;
	transition: 0.4s;
}

body{
	background-color: #00d9d9;
} 




h1.headline{
	font-size: 30px;
	font-family: Arial;
	background-color: #008C8C;
	padding-left: 35px;
}

footer{
	background-color: black;
	margin-top: 30rem;
}

p.footer{
	color: #fff;
}
 
headerM§§§§§§§§§§§<§§§§§§§§§ 
	background-color: #008C8C;
	vertical-align: right;
	margin-top: auto;
}
nav{
	display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}