div#content div{
	display: inline-block;
	width: px;
	justify-content: space-around;
	padding-right: 10rem;
}

div#content div,h1,p,{
	margin: ;
	display: flex;

}

div#content div.leftbox{
	background-color: ;
	vertical-align: top;
}

div#content div.rightbox{
	background-color: ;
	vertical-align: top;
	
}

*{
	background-color:  #00d9d9;
}
h1{
	background-color: #008C8C ;
	margin: auto;
	text-align: center;

}
h2.nav.menu-nav{
	vertical-align: center;
	text-align: center;
	margin: auto;
}

nav.menu-nav ul li.btn{
	display: inline-block;
	list-style-type: none;
}
nav.menu-nav ul li.btn a{
	color: #008C8C;
	background-color: #00d9d9;
	text-decoration: none;
	padding: 10px;
}

nav.menu-nav ul li.btn:hover a{
	color: #00d9d9;
	background-color: #008C8C;
	transition: 0.4s;
}
nav{
	display: flex;
    flex-wrap: wrap; 
    justify-content: left;
    align-items: center;
}

footer{
	background-color: black;
	margin-top: 30rem;
	box-sizing: border-box;
}

p.footer{
	color: #fff;
	background-color: #000;
	
}
strong{
	font-family: Arial;
}
p{
	font-family: Arial;
}
